@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #2d2159;
  }
  .font-outline-4 {
    -webkit-text-stroke: 3px #2d2159;
  }
}
.hide {
  @apply -translate-x-full opacity-0 blur transition-all duration-1000;
}

.show {
  @apply translate-x-0 opacity-100 blur-none;
}

@font-face {
  font-family: "Lakeshore";
  src: url("./Lakeshore-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Symphony";
  src: url("./Whipsnapper W01 Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Satoshi";
  src: url("./Satoshi-Medium.otf") format("opentype");
}

@font-face {
  font-family: "tt";
  src: url("./TT Hoves Pro Trial Black.ttf") format("opentype");
}
